[build-system]
requires = ["setuptools>=77"]
build-backend = "setuptools.build_meta"

[project]
name = "sexp"
version = "0.2.0"
description = "A minimal-allocation S-expression library for Python, backed by a C extension."
readme = "README.md"
requires-python = ">=3.10"
license = "MIT"

[project.urls]
Repository = "https://github.com/AndreKoraleski/sexp"